{% render 'breadcrumbs' %}
<article class="site-page" data-template-page>
  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>
  <div class="page-content rte">
    <div class="guideContainer">
      <aside class="guideSideNav">
        {% render 'page-guide-nav' %}
      </aside>
      <main class="guideMain">
        <section id="gw01" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">ギフトラッピングについて</h2>
          <div class="guideBox-body js_accordion_body">
            <ul class="nodisc">
              <li>ギフト用ラッピングは、上部をリボンで結ぶタイプのラッピング(330円)をご用意いたしました。大切な方へのギフトにぜひご活用ください。
              <div class="img_wrapper">
                    <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/gift01.png?v=1691498108" alt="">
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section id="gw02" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">ギフトラッピングの注文方法について</h2>
          <div class="guideBox-body js_accordion_body">
            <ul class="nodisc">
              <li>ギフトラッピング可能商品には、商品ぺージに<span class="txt_line">ラッピング可</span>のラベルをつけております。<br>
              ※ギフトラッピング商品と<span class="txt_line">ラッピング可</span>のラベルが付いていない商品は同時にご購入いただけませんの でご注意ください。<br>
              <br>
              複数の商品をまとめて1つのギフトラッピングにすることも可能です。<br>
              ※複数ラッピングが必要な場合は必要なラッピング数量を入力し、内訳を「ラッピング指示欄」にご 入力ください。  <br>
              ※ギフトラッピングページは、ラッピングが可能な商品をカートインすると「ラッピングはこちら」という ボタンが表示されます。<br>
              <br>
              【注文方法】<br>
              <p class="li">1.ギフトラッピング可能商品をカートへ追加してください。</p>
              <div class="img_wrapper">
                    <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/gift02.jpg?v=1691498108" alt="">
              </div>
              <p class="li">2.ギフトラッピング可能商品をカートへ追加すると、「ラッピングはこちら」が表示されるのでクリックし てください。</p>
                <div class="img_wrapper">
                    <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/gift03.jpg?v=1691498108" alt="">
              </div>
              <p class="li">3.「ギフトラッピング」ページへ遷移しますので、数量を確認し、カートへ追加してください。<br>  
              ギフトラッピングについてご要望等ございましたら、「ラッピング指示欄」へご入力ください。<br>
              ギフトラッピングが2つ以上に分かれる場合は、必ず「ラッピング指示欄」へ記載の上、数量をご変更ください。<br>
              例1）「●●(商品名)」と「●●(商品名)」の2点のみ1つにまとめてラッピング、「●●(商品名)」はラッピング不要 数量:1 <br>
              例2）「●●(商品名)」以外の商品をまとめてラッピング希望 数量:1</p>
                <div class="img_wrapper">
                    <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/gift04.jpg?v=1691498108" alt="">
              </div>
              <p class="li">4.カート画面にラッピング商品が追加されていることを確認し、ご注文手続きへお進みください。</p>
                <div class="img_wrapper">
                    <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/gift05.jpg?v=1691498108" alt="">
              </div>
            </li>
            </ul>
          </div>
        </section>
        <section id="gw03" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">ギフトラッピングの注意点</h2>
          <div class="guideBox-body js_accordion_body">
            <ul class="nodisc">
              <li>
                <p class="li">
                ・ご注文時の注意点<br>
                ※<span class="txt_line">ラッピング可</span>のラベルが付いていない商品はラッピングのご対応ができませんのでご了承ください。<br>
                ※1ラッピングにつき、1つの「ギフトラッピング」をカートへ入れてください。<br>
                ※ギフトラッピングのみ、カートインしているギフトラッピング可能商品数を超えるギフトラッピングの注文はできませんのでご注意ください。<br>
                <br>
                <p class="li">・不織布ラッピングについて<br>
                ー不織布の袋・リボンの色、サイズはお選び頂けません。<br>
                ーお包みする商品サイズに合わせて適切なサイズでギフトラッピングいたします。


                </p>
                </span>
                </p>
              </li>
            </ul>
          </div>
        </section>

      </main>
    </div>
    {% render 'page-guide-contact' %}
  </div>
  
 </article> 