<!--コーディング編集範囲-->
{%- liquid
  assign parent_collection_handle = 'carpe-diem'
-%}
<div class="carpe_diem_lp_page">
        <div class="mv">
            <div class="mv_img_inner">
                <img class="mv_img" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/mv_img.png?v=1678581261" alt="">
                <img class="h_logo" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/h_logo.png?v=1678581284" alt="" class="logo">
            </div>
            <span class="copy">～走り書きのような日々に、<br class="pc_none"> ときめきと上質なひと呼吸を。～</span>
        </div>
        <div class="about ">
            <div class="d_flex">
                <div class="d_left">
                    <h2 class="s_title">
                        Carpe Diem
                    </h2>
                    <span class="title_sub ">
                        (カルぺディエム)
                    </span>
                    <p class="txt">
                        日常に溶け込むちょっと贅沢なファブリックたちは、
                        暮らしのシーンの中に宿るときめきそのもの。<br>
                        そんな心踊る瞬間は、慌ただしく過ぎていく毎日の中に
                        「自分らしい暮らし」を見つめるひと呼吸を与えてくれるはず。
                    </p>
                    <p class="txt">
                        Carpe Diemのアイテムと一緒にあなたらしいスタイルをつくり、<br class="sp_none">
                        日常を書き留めてください。
                    </p>
                </div>
                <div class="d_right fadein fadeIn-up">
                    <img class="i_img01 i_img" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/a_img0011_65ca9578-d60d-470a-b949-96e13da24934.png?v=1678676819" alt="">
                </div>
                
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/a_img0022_b4dc0d0b-25b2-4263-aba6-68d3d01a5531.png?v=1678676819" alt="" class="i_img02 i_img fadein fadeIn-up">
            <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/a_img0033_6d169976-51ae-4914-9097-ad06f23a99c1.png?v=1678676854" alt="" class="i_img03 sp_none  i_img fadein fadeIn-up">
            <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/a_img003.png?v=1678674250" alt="" class="i_img03 pc_none i_img fadein fadeIn-up">
    
        </div>
        <div class="origin">
            <h2 class="s_title">
                Origin of Carpe Diem
            </h2>
            <span class="title_sub">～ブランド名の由来～</span>
                <p class="txt">
                    テーマであり、ブランド名「Carpe Diem」は<br class="pc_none">ラテン語で「今を生きる、今を楽しむ」。<br>
        「あなたの日常をよりあなたらしく、上質で丁寧な<br class="pc_none">暮らしの瞬間を堪能してほしい」<br class="pc_none"> という想いを込めました。
                </p>
                <a href="/collections/carpe-diem" class="top_item_btn">アイテムを見る</a>
                <img class="fadein fadeIn-up" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/sa1.png?v=1678581455" alt="">
    
    
        </div>
        <div class="kind">
            <h2 class="s_title">
                18種類の個性豊かな<br>クッションシリーズ
            </h2>
            <p class="txt">
                ときめきを感じずにはいられない多様な色遣いやパターン。<br>
                サイズは、種類によって異なり、使い勝手のよい、スクエア型（45cm×45cm）と<br>
                レクタンギュラー型（45cm×30cm）の2種類をご用意しました。<br>
                2023年3月13日より、JIASONLINEにて新ラインアップの販売をスタートします。
            </p>
            <div class="swipe_container fadein fadeIn-up">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item001.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item002.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item003.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item004.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item005.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item006.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item007.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item008.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item009.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item010.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item011.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item012.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item013.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item014.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item015.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item016.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item017.png?v=1678683560" alt="">
                        <img class="item_box swiper-slide" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/item018.png?v=1678683560" alt="">
                    </div>
                </div>
                <!-- ページネーション -->
                <div class="swiper_nav_flex">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination">
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
                <!-- ナビボタン -->
    
            </div>
        </div>
        <div class="special">
            <h2 class="s_title">
                Special
            </h2>
            <div class="inner">
                <div class="d_flex">
                    <div class="d_img fadein fadeIn-up">
                        <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/s_img01.png?v=1678581320" alt="">
                    </div>
                    <div class="d_txt">
                        <h3 class="box_title">
                            Technique
                            <span class="title_bg title_bg01">－技術－</span>
                        </h3>
                        <p class="txt">Carpe Diemのクッションは、カーテンのプロフェッショナルとしてファブリックを<br>
                            長年扱ってきた経験を持つジアスが、世界中のファブリックメーカーから卓越した<br>
                            審美眼で厳選した、ハイクオリティなファブリックだけを贅沢に使用しています。</p>
                    </div>
                </div>
                <div class="d_flex col_r">
                    <div class="d_txt">
                        <h3 class="box_title">
                            Patterns
                            <span class="title_bg title_bg02">－個性あふれる柄－</span>
                        </h3>
                        <p class="txt">
                            遊び心溢れる個性的な柄やユニークで美しい色遣い。そして驚くほど豊かな<br>
                            刺繍は、ヨーロッパで生産された高級ファブリックならではの魅力です。<br>
                            ここでしか手に入らない、洗練されたデザインをお楽しみください。
                        </p>
                    </div>
                    <div class="d_img fadein fadeIn-up">
                        <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/s_img02.png?v=1678581259" alt="">
                    </div>
                </div>
                <div class="d_flex">
                    <div class="d_img fadein fadeIn-up">
                        <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/s_img03.png?v=1678581259" alt="">
                    </div>
                    <div class="d_txt">
                        <h3 class="box_title">
                            Texture
                            <span class="title_bg title_bg03">－厳選した素材感－</span>
                        </h3>
                        <p class="txt">
                            刺繍が美しいクッションの裏面には、高品質のベルベット生地や、重厚感ある柔らかい<br>
                            シェニール生地を使用。プレーンタイプのクッションには、ぽこぽことした凹凸が<br>
                            可愛らしいものや、太さの異なる糸を組み合わせたざっくりとした織りなど、<br>
                            ファブリックは唯一無二の素材感が魅力です。
                        </p>
                    </div>
                </div>
                <div class="d_flex col_r">
                    <div class="d_txt">
                        <h3 class="box_title">
                            Details
                            <span class="title_bg title_bg04">－美しい細部－</span>
                        </h3>
                        <p class="txt">
                            トリムなどのディティールも細部の美しさを追求し、質の良さは勿論、絶妙な色使いや<br>
                            デザインに定評のあるヨーロッパのブランドを採用。それぞれのファブリックの<br>
                            魅力を、最大限に引き出すものをチョイスしました。
                        </p>
                    </div>
                    <div  class="d_img fadein fadeIn-up">
                        <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/s_img04.png?v=1678581319" alt="">
                    </div>
                </div>
    
    
            </div>
    
        </div>
    </div>


<!--コーディング編集範囲-->


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}