      <link rel="preload" as="style" href="//jias-net.jp/cdn/shop/t/26/assets/page-link.css">

<div class="link_page">
  <div class="mv">
            <a target="_blank" href="https://jias-net.jp/"  rel="noopener noreferrer">
                <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/fv11.png?v=1684653719" alt="">
            </a>
        </div>
    <div class="inner">
        <div class="sns">
            <a class="sns_btn" target="_blank" href="https://page.line.me/461fdjxg?oat__id=1185375&openQrModal=true">
                <span class="inner d_flex">
                    <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/line_s.png?v=1684648698" alt="">
                    <span class="sns_txt">
                        公式LINE お友達登録でクーポンGET！
                    </span>
                </span>
            </a>
            <a class="sns_btn" target="_blank" href="https://www.instagram.com/jias_official/">
                <span class="inner d_flex">
                    <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/instagram_7591d578-b332-444f-918c-69925c00eb53.png?v=1684648692" alt="">
                    <span class="sns_txt">Instagram</span>
                    </span>
                </a>
                <a class="sns_btn" target="_blank" href="https://www.pinterest.jp/jias_official/">
                    <span class="inner d_flex">
                    <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/pinterest_s.png?v=1684648692" alt="">
                    <span class="sns_txt">Pinterest</span>
                </span>
            </a>
        </div>
       <a target="_blank" class="tips_btn" href="https://jias-net.jp/blogs/topics">
        <div class="d_flex tips">
            <div class="d_left">
                    <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/tips.png?v=1682425857" alt="">
            </div>
            <div class="d_right">
               
                    <span>
                        暮らしを豊かにするヒントをチェック
                    </span>
                
            </div>
        </div>

                  </a>
        <div class="p_btn d_flex">
            <a target="_blank" href="https://www.jias.co.jp/catalog" class="btn">
                <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/catalog.png?v=1682425857" alt="">
            </a>
            <a target="_blank" href="https://www.jias.co.jp/showroom" class="btn">
                <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/yoyaku.png?v=1682425857" alt="">
            </a>
            <a target="_blank" href="https://jias-net.jp/pages/contact" class="btn">
                <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/contact.png?v=1682425857" alt="">
            </a>
           
        </div>
        <a target="_blank" href="https://www.jias.co.jp/order" class="flow">
            <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/order01.png?v=1682428884" alt="">
        </a>
        <p class="tips_txt">
        ジアスオリジナルブランドリンク
        </p>
        <div class="f_banner">
            <a target="_blank" href="https://jias-net.jp/pages/eco-de-happiness"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/EcodeHappiness_FIX_LOGO.webp?v=1684653085" alt=""></a>
            <a target="_blank" href="https://jias-net.jp/pages/carpe-diem"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/carpe_logo_sozai.webp?v=1684653085" alt=""></a>
            <a target="_blank" href="https://jias-net.jp/pages/contact"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/logo.webp?v=1684653101" alt=""></a>
        </div>
        <ul class="b_menu">
            <li>©JIAS</li>
            <li><a target="_blank" href="https://www.jias.co.jp/privacy">個人情報保護法</a></li>
            <li><a target="_blank" href="https://www.jias.co.jp/corporate">企業情報</a></li>
            <li><a target="_blank" href="https://www.jias.co.jp/recruit">リクルート</a></li>
        </ul>
    </div>
</div>