{% render 'breadcrumbs' %}
<article class="site-page" data-template-page>
  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>
  <div class="page-content rte">
    <div class="guideContainer">
      <aside class="guideSideNav">
        {% render 'page-guide-nav' %}
      </aside>
      <main class="guideMain">
        <section id="egift01" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">eギフトとは？</h2>
          <div class="guideBox-body js_accordion_body">
            <ul class="nodisc">
              <li>eギフトは、SNSやメールなどでURLをシェアし、オンラインでギフトを送ることができます。URLを受け取った方は、住所を入力することでギフトが受け取れます。<br>
                <br>
                <span class="bold">eギフトのこんなところが便利！</span>
                   
                    <p class="gray">・ギフトを贈りたい相手の住所入力が不要</p>
                    <p class="px_txt">
                    eギフトならシェアしたURLに、住所を入力してもらうことでギフトを贈ることができます。日頃のお礼やサプライズのプレゼントにおすすめですよ。
                    </p>
                    <p class="gray">・今すぐギフトを贈ることができる</p>
                    <p class="px_txt">
                    「今日は友人の誕生日だった…」「明日の母の日にギフトを贈りたい」そんな時も大丈夫。eギフトならメッセージを添えてURLを贈ることができるので、すぐにメッセージカード付きでギフトを贈ることができます。
                    </p>
              </li>
            </ul>
          </div>
        </section>
        <section id="egift02" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">eギフトの贈り方</h2>
          <div class="guideBox-body js_accordion_body">
            <ul class="nodisc">
              <li>
                <p class="li">1.商品を選択し、「住所を知らない相手にeギフトで贈る」をクリックしてください。</p>
                <p class="li">2.メッセージカードデザインを選択し、メッセージと贈り主名をご入力ください。贈り主名は、お名前だけでもニックネームでも問題ありません。</p>
                <div class="img_wrapper">
                    <img class="w_img" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/img_guid_01.png?v=1692593802" alt="">
                </div>
                <p class="li">3.カートに追加し、通常と同じ方法でご購入ください。「住所を知らない相手にeギフトで贈る」ボタンのある商品は同時に購入し、贈ることが可能です。商品追加時にはメッセージカードの再設定は不要です。</p>
                <p class="li">4.購入が完了すると、eギフトのURLが発行されます。URLコピーして、SNSやメールで贈ったら完了!ギフトURLをLINEやメールなどでシェアし、受け取った方がご住所を入力すると、ギフト商品が入力されたご住所に届きます。<br>
                ※メールでも専用URLが届きます。「@anygift.jp」からのメールを受信できるようドメイン指定受信設定をお願いいたします。<br>
                ※購入した日から5日後の23:59に、eギフトの有効期限が切れますのでご注意ください。有効期限が切れた場合は、ご購入者様のご住所へ商品を発送いたします。
                <div class="img_wrapper">
                    <img class="w_img" src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/egift02.png?v=1691498108" alt="">
                </div>
                </p>
              </li>
            </ul>
          </div>
        </section>
        <section id="egift03" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">eギフトの受け取り方</h2>
          <div class="guideBox-body js_accordion_body">
            <ul class="nodisc">
              <li>
                <p class="li">1.届いたURLをクリックします。</p>
                <p class="li">2.メッセージカードが表示されたら、「eギフトを確認する」をクリックします。</p>
                <div class="img_wrapper">
                    <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/egift03.jpg?v=1691498108" alt="">
                </div>
                <p class="li">3.商品情報が表示されたら、「eギフトを受け取る」をクリックします。</p>
                <div class="img_wrapper">
                        <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/egift04.jpg?v=1691498108" alt="">
                </div>
                <p class="li">4.受け取り情報(住所等)を入力し、日時を指定して、ギフト商品が届くのをお待ちください。</p>
                <div class="img_wrapper">
                    <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/egift05.jpg?v=1691498108" alt="">
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section id="egift04" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">eギフトの注意事項</h2>
          <div class="guideBox-body js_accordion_body">
            <ul class="nodisc">
              <li>
                <p class="li">・有効期限について<br>
                有効期限は購入した日から5日後の23:59となります。有効期限が切れた場合、商品はキャンセルとならず、ご購入者様のご住所にお届けとなります。 お届け希望日時の指定はできませんのでご了承ください。</p>
                <p class="li">.受け取り相手が住所を入力しなかった場合<br>
                    有効期限である、5日後の23:59までにご住所が入力されなかった場合は、ご購入商品はキャンセルとならず、ご購入者様のご住所に商品を発送いたします。メールにて確認のご連絡を差し上げます。お届け希望日時の指定はできませんのでご了承ください。</p>
                <p class="li">.メールアドレスの受信設定について<br>
                    eギフトの専用URLや、受け取り設定完了のご連絡は「@anygift.jp」のメールアドレスよりお送りいたします。「@anygift.jp」からのメールを受信できるよう、事前にドメイン指定受信設定をお願いいたします。</p>
                <p class="li">.発送時期について<br>
                URLを受け取った方は、「ギフト受け取り情報の入力」にご入力後、3営業日以内に発送いたします。
                有効期限が切れた場合は、有効期限が切れてから3営業日以内にご購入者様のご住所へ発送いたします。</p>
                <p class="li">・受け取り相手が住所を入力したかどうかの確認<br>
                受け取り相手の方で、住所入力が完了次第、ご購入者様へメールが届きます。<br>
                ※「@anygift.jp」からのメールを受信できるようドメイン指定受信設定をお願いいたします。</p>
                <p class="li">・複数商品をeギフトで贈る<br>
                商品ページに「eギフトを購入する」ボタンが表示されている商品同士であれば、同時にご購入が可能です。ギフトの贈り先相手は1箇所となりますので、まとめてのお届けとなります。<br>
                ※「通常購入の商品」と「eギフト購入の商品」を同時に買うことはできません。</p>
                <p class="li">・複数の配送先にeギフトを贈る<br>
                1ヶ所のお届け先のみ指定可能です。複数お届け先の指定はできません。お手数おかけいたしますが、配送先ごとのご注文をお願いいたします。
                </p>
                <p class="li">
                    .メッセージの入力や名前の入力を誤った場合<br>
                    ご注文後に変更することはできませんので、ご注意ください。
                </p>
                <p class="li">
                    .eギフトのURLメールを消してしまった場合<br>
                    再送はできかねますので、ご注意ください。
                </p>
                <p class="li">
                    ・ギフトラッピングを同時購入した場合<br>
                    ギフトラッピング商品はeギフト受け取り画面では表示されません。
                </p>
              
              </li>
            </ul>
          </div>
        </section>

      </main>
    </div>
    {% render 'page-guide-contact' %}
  </div>
  
 </article>