<div class="curtain-page">
<img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/curtain-page-top.jpg?v=1698289414">
<div class="curtain-page-main"> 
<p style="text-align: center;">※期間内のお申し込みが対象になります。<br> ※カーテン・シェードに限ります。<br> ブラインド類は割引対象外となりますが、<br> ご相談は受け付けております。<br> ※特典のご利用には、ハガキ表面の<br> お客様番号が必要になります。</p>
<a class="curtain-page-btn line-btn" href="{{ page.metafields.custom.off_campaign_lp_line_url }}" target="_blank">LINEから申し込む</a>
<div class="curtain-page-section">
<p><b>LINEお友達登録で・・・</b><br> ●LINEで気軽にコーディネーターと相談できる！<br> ●ショールームご予約も簡単申し込み！<br> ●カーテンのオーダーメイドシミュレーションも！</p>
</div>
<a class="curtain-page-btn" href="{{ page.metafields.custom.off_campaign_lp_form_url }}" target="_blank">専用フォームから申し込む</a>
<p style="margin: 10px auto 50px; text-align: center;">※申し込みページに遷移します。</p>
<a class="curtain-page-btn" href="{{ page.metafields.custom.off_campaign_lp_web_catalog_url }}" target="_blank">まずウェブカタログを見る</a>
</div>
</div>



