{% render 'breadcrumbs' %}
<article class="site-page" data-template-page>
  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>

  <div class="page-content rte">
    <div class="guideContainer">
      <aside class="guideSideNav">
        {% render 'page-guide-nav' %}
      </aside>
      <main class="guideMain">
        <section id="cancel01" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">返品・交換・キャンセルについて</h2>
          <div class="guideBox-body js_accordion_body">
            <p>ご注文確定後のキャンセル・内容変更（追加・変更）は承ることができません。予めご了承のほどお願い申し上げます。</p>
            <p>ご注文確定前に、カラーやサイズ・内容に誤りがないようにご注文内容を必ずご確認くださいますようお願いいたします。</p>
            <ul class="memo">
              <li>受注生産品・海外取り寄せ品は、決済完了後のキャンセル・内容変更（追加・変更）は一切承ることができません。<br />また、搬入ができないなどの理由によるキャンセルもお受けすることができません。ご注文前に<a href="/pages/guide-delivery#delivery07">搬入経路のご確認のお願い</a>より搬入経路については必ずご確認ください。</li>
            </ul>
            <p>お届けする商品の品質については万全を期しておりますが、万が一商品の破損・汚損、不備・不良、部品等の不足、ご注文と異なる商品が届いた場合には、当該商品到着日から7日間以内に下記内容をご確認の上、<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりご連絡ください。</p>
            <ul>
              <li>ご状況によって対応が異なりますので、誠に恐れ入りますが弊社よりご案内する返品・交換手順に従ってお手続きくださいますようお願いいたします。弊社からのご案内前にご返送作業をされた場合はご対応ができませんのでご注意ください。</li>
              <li>商品の返品・交換時には、商品お届け時の梱包材をご利用いただきご返送していただく場合がございます。不良等がありました場合は、お届け時の梱包資材等を処分しないようご注意ください。商品の不具合等でご迷惑をおかけしたうえ、重ねてお手間を頂戴することになりますが、ご容赦のほどよろしくお願い申し上げます。</li>
              <li>商品を開封されました際に、商品に傷や汚れがないか、部品に不足等がないかを必ずご確認ください。組立てが必要な商品の場合、商品を組立てた後に傷や汚れに関してご連絡を頂きましてもご対応いたしかねます。ご注意ください。</li>
              <li>ご連絡期限を過ぎました場合は、交換、返品をお受けいたしかねますのであらかじめご了承ください。</li>
              <li>商品の取り扱いには細心の注意を払っておりますが、組立て・梱包時や、運送時に不可抗力で小傷（擦り傷）などが付く場合がございます。その場合は不良扱いの範疇にはなりませんのであらかじめご了承くださいますようお願いいたします。</li>
            </ul>
          </div>
        </section>

        <section id="cancel02" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">商品に不良（破損・汚損・部品不足）があった場合</h2>
          <div class="guideBox-body js_accordion_body">
            <p>ご迷惑をおかけしており誠に申し訳ございません。<br />商品の品質には万全を期しておりますが、万一、お届け時に商品が破損・汚損していた場合、部品等の不足があった場合、またはご注文と異なる商品がお手元に届きました場合等につきましては、商品のお届けより7日以内に、下記内容を明記の上<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりご連絡ください。お客様からの記載内容・商品状態を確認でき次第、弊社の対応をご連絡させていただきます。</p>
            <ul class="nodisc">
              <li>1.お客様のお名前</li>
              <li>2.ご注文番号</li>
              <li>3.不具合のあった商品名</li>
              <li>4.不具合部分の詳細内容</li>
              <li>※詳細な状況を確認し、すみやかな対応をさせていただくためご協力をお願いいたします。</li>
            </ul>
            <p>商品の状態を確認させていただき弊社およびメーカー、配送会社の過失であることが確認された場合は、適切な方法にて交換対応させていただきます。状況により交換方法が異なりますので、誠に恐れ入りますが弊社よりご案内する返品・交換手順に従ってお手続きくださいますようお願いいたします。</p>
            <ul class="memo">
              <li>返品先の住所が発送先と異なる場合がございますので、必ず事前にご連絡ください。連絡なく商品をお送りいただいた場合、受け取りいたしかねますのでご注意ください。</li>
              <li>不良の原因が配送途中の事故に起因する場合、配送会社の担当者よりお客様へ直接ご連絡させていただく場合がございます。あらかじめご了承くださいますようお願いいたします。</li>
            </ul>
            <p class="mgb-0">《備考》</p>
            <ul class="mgt-0">
              <li>部品交換で不良が改良する場合に関しましては部品のご交換になります。そのような場合に商品自体の返品はお受けいたしかねます。あらかじめご了承ください。</li>
              <li>商品に不具合があった場合、メール・お電話でのご対応となり、弊社から直接お伺いしての修理や交換等のご対応はいたしかねます。あらかじめご了承ください。</li>
              <li>お値引きによるご対応、返品対応は承っておりません。</li>
              <li>完売や一点もののため同一商品をご用意できない場合には、誠に勝手ではございますが返品・ご返金にてご対応させていただきます。あらかじめご了承ください。</li>
              <li>商品不良等で交換となった場合でも、従来「お客様組み立て品」として販売の商品は当社にてその作業を承ることはできず、お客様にてお組み立てをしていただくこととなります。</li>
              <li>交換・返品の際にかかる送料は弊社にて負担させていただきますが、その際、お客様にて該当商品の解体、および梱包をお願いいたします。商品不具合等にてご迷惑をおかけする上に、重ねてお手間を頂戴することになりますが、ご容赦のほどよろしくお願い申し上げます。</li>
              <li>交換品のお届けまでに初回配送時と同様にお届けまでにお時間を頂戴する場合がございます。</li>
              <li>商品組立業者や家電品設置業者等をお客様自身で手配される場合において、商品不良等の理由で作業ができなかった場合や再組み立て・再設置等が必要になる場合であっても、その費用を弊社にて負担することはできません。</li>
              <li>商品の購入・使用から生じた損害に対して、弊社はその責任（金銭的補償等）を負うことができかねます。（商品のみの保証になりますので、商品によって収納物や床・家屋に傷がついた、色移りした場合等、商品以外の保証はできかねます。）</li>
              <li>ご購入品以外の商品への交換は承ることができません。予めご了承のほどお願い申し上げます。</li>
            </ul>
          </div>
        </section>

        <section id="cancel03" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">商品の部品等に不足があった場合</h2>
          <div class="guideBox-body js_accordion_body">
            <p>ご迷惑をおかけしており誠に申し訳ございません。<br />商品の部品等に不足があった場合には、商品のお届けより7日以内に下記内容を明記の上<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりご連絡ください。<br />お客様からのご連絡内容を確認次第、すみやかにご対応させていただきます。</p>
            <ul class="nodisc">
              <li>1.お客様のお名前</li>
              <li>2.ご注文番号</li>
              <li>3.部品が不足している商品名</li>
              <li>4.不足している部品の名称</li>
              <li>※部品の名称が不明な場合には、「脚部の取り付けに必要なねじ」のように具体的にご説明くださいますようお願いいたします。</li>
            </ul>
            <p>状況をご連絡いただき、内容を確認次第、不足している部品等を早急にお届けさせていただきます。</p>
            <ul class="memo">
              <li>完売や一点もののため同一商品をご用意できない場合には、誠に勝手ではございますが返品・返金にてご対応させていただきます。あらかじめご了承ください。</li>
            </ul>
          </div>
        </section>

        <section id="cancel04" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">ご注文と異なる商品が届いた場合</h2>
          <div class="guideBox-body js_accordion_body">
            <p>ご迷惑をおかけしており誠に申し訳ございません。<br />ご注文と異なる商品が届いた場合には、商品のお届けより7日以内に下記内容を明記の上<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりご連絡ください。<br />お客様からのご連絡内容を確認次第、すみやかにご対応させていただきます。</p>
            <ul class="nodisc">
              <li>1.お客様のお名前</li>
              <li>2.ご注文番号</li>
              <li>3.ご注文いただいていた商品名</li>
            </ul>
            <p>状況をご連絡いただき、内容を確認次第、本来ご注文いただいていた商品を早急にお届けするよう対応いたします。<br />お客様からのご連絡後に弊社より交換の手続きにつきましてご案内させていただきます。<br />状況により交換方法が異なりますので、誠に恐れ入りますが弊社よりご案内する返品・交換手順に従ってお手続きくださいますようお願いいたします。</p>
            <ul class="memo">
              <li>商品によっては、お届けまでに初回配送時と同様にお時間を頂戴する場合がございます。大変申し訳ございませんがご了承いただきますようお願い申し上げます。</li>
              <li>完売や一点もののため同一商品をご用意できない場合には、誠に勝手ではございますが返品・返金にてご対応させていただきます。あらかじめご了承ください。</li>
            </ul>
          </div>
        </section>

        <section id="cancel05" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">ご返金方法について</h2>
          <div class="guideBox-body js_accordion_body">
            <h3>クレジットカード決済をご利用の場合</h3>
            <p>課金締め日を過ぎていない場合は、請求の取り消しをいたします。<br />期日を過ぎていた場合はクレジットカード会社より翌月分以降にご返金となります。あらかじめご了承ください</p>
          </div>
        </section>

        <section id="cancel06" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">お客様のご都合による返品について</h2>
          <div class="guideBox-body js_accordion_body">
            <p>お客様のご都合による返品はいかなる理由であってもお受けできません。あらかじめご了承ください。</p>
            <p>商品写真は実際の色・質感をできる限り再現するように心がけておりますが、お客様のモニターやモバイル端末のディスプレイ（液晶の差や輝度の違いなど）、画面設定、商品写真の撮影状況などにより、多少の色味の違いが発生する場合がございます。<br />また、木目・年輪などの出方、ファブリック・レザーなどの生地の柄・模様の出方、古材を使った商品の仕上げ、ビンテージ加工商品の仕上げなど、特性によりひとつひとつが異なる表情を持つ商品もございます。</p>
            <p>色、質感などがイメージとは違うといった理由による返品、交換、変更など、ご注文確定後のキャンセルは一切お受けいたしかねますので、あらかじめご了承くださいますようお願いいたします。<br />ご注文前の商品について、ご不明な点や、より詳細なご案内をご希望の場合には弊社までお気軽にお問い合わせください。</p>
          </div>
        </section>

        <section id="cancel07" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">クーリングオフについて</h2>
          <div class="guideBox-body js_accordion_body">
            <p>通信販売はクーリングオフ制度の対象外となっております。お客様のご都合による返品は承っておりません。あらかじめご了承ください。</p>
            <p>商品に不良があった場合の返品・交換のお手続きにつきましては、<a href="#cancel02">「商品に不良（破損・汚損）があった場合」</a>をご確認ください。</p>
          </div>
        </section>

      </main>
    </div>
    {% render 'page-guide-contact' %}
  </div>
</article>
