@charset "utf-8";
/****************************************
 # Page Styling
   - Login Page
   - Account Page
   - Address Page
****************************************/
/*--------------------------------------------------------------
# Page Styling
--------------------------------------------------------------*/
/* Login Page
--------------------------------------------- */
.account-page-login .form-action-row--helper { width: 100%; margin-top: 1rem; margin-left: 0; }
.account-page-login .form-action-row--helper a { text-decoration: underline; }

/* Account Page
--------------------------------------------- */
.account-address-item a { text-decoration: underline; }

/* Address Page
--------------------------------------------- */
.account-address-item--default { font-style: normal; }
